  {{!-- <!--<section class="content-header">
<h1>   Dashboard
  
  <div class="form-group col-md-8 form-group-sm pull-right"  >
  		<div class="input-group pull-right">
	      	{{input class="form-control input-sm"  id="DashboardRegionDate" value=dashboardcurrentdate  readonly="readonly" }}
		     <span class="input-group-btn"><button class="btn btn-primary btn-flat btn-sm" type="button" {{action "updateDashboard" this}}> View!</button></span>
		</div>
  </div> 
  </h1>	
</section>--> --}}
{{outlet}}
