<div class="skin-black">
	<div class="wrapper" style="height: auto; min-height: 100%;">
		{{yield}}
		{{!-- <footer class="main-footer navbar-footer navbar-fixed-bottom">
			{{partial 'layout/bottom'}}
		</footer> --}}
		{{!-- {{#if isAgent}} {{inactivity-warning}} {{/if}} --}}
		{{!-- {{partial 'layout/right'}} --}}

	</div>
</div>
