<div class="nav-tabs-custom">
<!-- Tabs within a box -->
<ul class="nav nav-tabs pull-right">
	<li class="active"><a href="#chat-messanger" data-toggle="tab">Messengar</a></li>
	<li class="pull-left header"><i class="fa fa-inbox"></i> Chats</li>
</ul>
<div class="tab-content no-padding">
	<div class="chart tab-pane active" id="chat-messanger" style="position: relative;">{{partial 'messanger'}}</div>
</div>
</div>