<div class="box box-abacus">
	<div class="box-header">
		<i class="fa fa-bar-chart-o pull-left"></i>
		<h3 class="box-title pull-left"> Agent Attendence Report</h3>
	</div>
	<div class="box-body">
		<div class="form-group form-group-sm">
			<label class="col-xs-3" for="regions">Select Date Range</label>
			<div class="col-xs-9 input-group input-group-sm">
				<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				{{input class="form-control pull-right" valueBinding="report.date" id="dateAgentAttendenceReportDaily" }}
				<span class="input-group-btn">
					<button class="btn btn-flat btn-abacus" {{action "saveAgentAttendenceReportDaily" report}}>Daily
						Download</button>
					<button class="btn btn-flat btn-abacus" {{action "saveAgentAttendenceReportHourly" report}}>Hourly
						Download</button>
					<button class="btn btn-flat btn-abacus"
						{{action "saveAgentAttendenceReportLoginLogout" report}}>Login & Logout Download
					</button>
				</span>
			</div><!-- /.input group -->
		</div>
	</div>
</div>
