<div id="pageVoiceMonoiId" class="nav-tabs-custom">
	<ul id="voiceMonoiId" class="nav nav-tabs pull-right" role="tablist">
		<li class="active"><a href="#callactivity-upselling" data-toggle="tab"> QA Evaluation </a></li>
		<li><a href="#callactivity-counting" data-toggle="tab"> Today Tickets  </a></li>
		<li class="pull-left header"><i class="fa fa-inbox"></i>Quality Monitoring  </li>
	</ul>
	<div class="tab-content no-padding">
		<div class=" tab-pane fade in active" id="callactivity-upselling" style="position: relative;"><div class="tabbable">{{partial 'quality/monitoringCommons'}}</div></div>
		<div class=" tab-pane fade" id="callactivity-counting" style="position: relative;"><div class="tabbable">{{partial 'quality/monitoringCounts'}}</div></div>	
	</div>
</div>








     