<div class="row">
  <div class="col-md-12">
    {{partial 'quality/monitoringCommonsTop'}}
    <div class="clearfix"></div>
    {{partial 'quality/monitoringCommonsMiddle'}}
    <div class="clearfix"></div>
    {{partial 'quality/monitoringCommonsBottom'}}       
  </div><!-- /.col -->           
</div>









     