<div class="nav-tabs-custom">
<!-- Tabs within a box -->
<ul class="nav nav-tabs pull-right">
  <li class="active"><a href="#callactivity-upselling" data-toggle="tab"> SC-QA  </a></li>
  <li class="pull-left header"><i class="fa fa-inbox"></i>SC Quality Monitoring  </li>
</ul>
<div class="tab-content no-padding">
  <div class="chart tab-pane active" id="callactivity-upselling" style="position: relative;">{{partial 'quality/monitoringCommons'}}</div>
  
</div>
</div>








     