<div class="row">
  <div class="col-md-12">
    {{partial 'quality/voiceMonitoringCommonsTop'}}
    <div class="clearfix"></div>
    {{partial 'quality/voiceMonitoringCommonsMiddle'}}
    <div class="clearfix"></div>
    {{partial 'quality/voiceMonitoringCommonsBottom'}}       
  </div><!-- /.col -->           
</div>









     